<p style="color: green;"><%= notice %></p>

<h1></h1>

<div class= 'row'>
  <% @destinations.each do |destination| %>
    <div class='col-md-4'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h2><%= link_to destination.city, destination %></h2>
        </div>
        <div class='panel-body'>
          <%= image_tag destination.avatar.url, class: "img-responsive", class: "center-block", width: 300, height: 200 %>
          <h3><%= destination.state %></h3><br />
            <ul>
              <% destination.packing_list_a.each do |l|%>
              <li><%= l %></li>
              <%end%>
            </ul>
          <br>
          <h4><%= destination.category %></h4>
        </div>
        <div class='panel-footer'>
          <%= link_to 'Show', destination, class:'btn btn-primary' %>
          <% if can? :update, destination %>
          <%= link_to 'Edit', edit_destination_path(destination), class:'btn btn-warning' %>
          <%= link_to 'Destroy', destination, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<div>
<% if can? :update, @destination %>
<%= link_to 'New Destination', new_destination_path, class: 'btn btn-warning' %>
</div>
<% end %>
